<div class="timer-container">
  <mat-card>
    <mat-card-title>Cronômetro Principal</mat-card-title>
    <mat-card-content>
      <div class="timer-display">{{ timer | date: 'mm:ss' }}</div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="toggleTimer()">
          {{ running ? 'Pausar' : 'Iniciar' }}
        </button>
        <button mat-raised-button color="accent" (click)="goToGameManager()">Próxima Etapa</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
