<div class="game-header">
  <div class="game-title">
    <div class="partials-container">
      <div class="partials">
        <div *ngFor="let end of ends; let i = index" class="partial"
          [ngClass]="{ current: i + 1 === currentEnd, disabled: i + 1 < currentEnd }"
          (click)="i + 1 >= currentEnd ? nextEnd(i + 1) : null" (mouseenter)="hoveredIndex = i + 1"
          (mouseleave)="hoveredIndex = null">
          <span>Parcial {{ i + 1 }} </span>
        </div>

        <div class="partial">
          <span> Parcial Extra</span>
        </div>

        <div class="partial" (click)="endGame()">
          <span> Acabar Jogo</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="players-container">
  <app-player #redPlayerComponent [player]="redPlayer" color="red" [score]="redPlayer?.score"></app-player>
  <app-player #bluePlayerComponent [player]="bluePlayer" color="blue" [score]="bluePlayer?.score"></app-player>
</div>
